<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "SUKABUMI PRODUCT INFO", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapsable-1">
        <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li><%= link_to "New Product", new_product_path %></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
            <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
            <% end %>
        </ul>
      
        <form class="navbar-form navbar-collapse " role="search">
          <%- model_class = Product -%>
          <%= form_for :filter, :html => { :class => "form-horizontal product", method: :get } do |f| %>
            <div>
              <%=   f.text_field :name, value: @keyword, :class => "form-control" %>
              <%= f.submit "Search", class: "btn btn-success" %>
            </div>
          <% end -%>
      </form>
    </div>    
   </div> 
</nav>


<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>

<%= form_tag '/', method: :get do%>
  <%= select_tag 'urutkan', options_for_select([['Urutkan berdasarkan nama', 'nama'], ['Urutkan berdasarkan tanggal', 'tanggal']], 'nama')%>
  <%= submit_tag 'submit', class: "btn btn-sm btn-primary"%>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody> 
     <%  @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price, precision: 0, unit: "Rp. ") %></td>
        <td><%= product.created_at.strftime("%d %b %y, %H:%M") %></td>
        <td><%= link_to image_tag(product.image.url(:medium)), product_path(product)  %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
