<!DOCTYPE html>
<html>
<head>
  <title>Product Information</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "col-md-8 col-md-offset-2">
<%= link_to "HOME","/" %>
<%= yield %>
</div>
</body>
</html>
